@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
/* default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.displayNone {
    display: none;
}

button {
    padding: 1rem;
    border: solid 2px black;
    font-weight: 500;
    box-shadow: 4px 5px 1px black;
    font-family: 'Work Sans', sans-serif;
    animation: 1600ms growBtn alternate infinite ease-in-out;
}

@keyframes growBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1.05);
    }
}

a {
    text-decoration: none;
    color: black;
}

.pageLoader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 99999;
    transition: opacity 0.75s, visibility 0.75s;
}

.pageLoaderHidden {
    opacity: 0;
    visibility: hidden;
}

.pageLoader > img {
    width: 150px;
    border-radius: 100%;
    animation: loading 2s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

/* styles for on scroll transitions */
.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s linear;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .animate{
        transition: none;
    }
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* header styles */

header {
    background: rgb(255, 248, 241);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    background: inherit;
    width: 100%;
    z-index: 9999;
}

/* inserting mobileNav here, set display as none in desktop view*/

.mobileNavContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color: #1111117a;
    z-index: 999;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: start;
    background: rgb(255, 248, 241);
    padding: 1rem;
    width: 97.2%;
    border: solid 2px black;
    box-shadow: 4px 5px 1px black;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    background-color: rgb(255, 248, 241);
    border: solid 2px black ;
    padding: 1rem;
    box-shadow: 4px 5px 1px black;
    animation: moveInLeft 2s ease 0s 1 normal forwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.mobileNav ul {
    list-style: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobileNav ul ion-icon {
    position: relative;
    top: 0.3rem;
}

/* try inserting transition here later */
.mobileNav ul a::after {
    content: ' ';
    background: #0755E9;
    display: none;
    width: 35%;
    height: 4px;
    position: relative;
    bottom: 0.4rem;
}


.mobileNav ul a:hover::after {
    display: inline-block;
    animation: scaleInCenter 0.25s ease-in 0s 1 normal forwards;
}

@keyframes scaleInCenter {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

.mobileSubNav {
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.7rem;
    background-color: white;
    border: solid 2px black;
    box-shadow: 4px 5px 1px black;
}


.mobileNav button {
    background: #0755E9;
    color: white;
    font-weight: 500;
}

/* give display of flex in desktop view */
.desktopNav {
    display: none;
    gap: 1.7rem;
}

.openNav {
    display: block;
    font-size: 1.6rem;
}

.closeNav {
    font-size: 1.6rem;
}

header section:first-of-type {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* change image position in desktop view */
header > img  {
    width: 60px;
    position: relative;
    top: 4.5rem;
    z-index: 9;
    margin-top: 3rem;
}


header section:first-of-type > p:first-of-type {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header section:first-of-type > p:nth-of-type(2) {
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    color: #898784;
    font-size: 14px;
    width: auto;
}

header section:first-of-type > div:first-of-type {
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
}


header section:first-of-type > div:first-of-type > button:first-of-type {
    color: white;
    background: #0755E9;
}

header section:first-of-type > div:first-of-type > button:nth-of-type(2) {
    color: white;
    background: #EE4200;
}

/* in desktop view make flex-direction = row */
header section:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
}

header section:first-of-type > div:last-of-type > p {
    font-weight: 600;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

header section:first-of-type > div:last-of-type > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header section:last-of-type {
    padding: 0 1rem;
    margin: 4rem 0;
}


/* change image scale rotation, position in desktop view */

header section:last-of-type img {
    display: none;
}

header section:last-of-type > p:first-of-type {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header section:last-of-type > p:last-of-type {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: #898784;
    font-size: 14px;
}

/* in desktop view make flex-direction = row */
header section:last-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

header section:last-of-type > div > div {
    background: white;
    border: solid 2px black;
    box-shadow: 4px 5px 1px black;
    padding: 1rem;
    text-align: left;
    width: 90%;
}

header section:last-of-type > div > div > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header section:last-of-type > div > div > div > p:first-of-type {
    font-weight: 600;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: 3px 2px 1px black;
    font-size: 1rem;
}

header section:last-of-type > div > div > div > p:last-of-type {
    font-weight: 600;
    font-size: 1rem;
}

header section:last-of-type > div > div:first-of-type > div > p:first-of-type {
    background: #FFB800;
}


header section:last-of-type > div > div:nth-of-type(2) > div > p:first-of-type {
    background: #FF5C00;
}


header section:last-of-type > div > div:last-of-type > div > p:first-of-type {
    background: #009429;
}

header section:last-of-type > div > div > p {
    margin-top: 1.5rem;
    font-weight: 500;
    color: #898784;
}

header section:last-of-type > div > div > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

/* main section styles */

main {
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
}


/* change image rotation, position in desktop view */
main > img:first-of-type {
    width: 150px;
    transform: rotate(270deg);
    position: relative;
    top: 11rem;
    left: 75%;
    margin-top: -5rem;
}

main > p:first-of-type {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

main > p:last-of-type {
    font-weight: 600;
    font-size: 13px;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

main section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

/* in desktop view make flex-direction = row also change align-items to center*/
main section:first-of-type div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}


main section:first-of-type div:first-of-type > div:first-of-type {
    display: flex;
    align-items: center;
    width: 100%;
}

main section:first-of-type div:first-of-type > div:first-of-type img {
    width: 80%;
}

/* in desktop view make flex-direction = row  also adjust width in desktop view*/
main section:first-of-type div:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* adjust width in desktop view */
main section:first-of-type div:first-of-type > div:last-of-type > img {
    width: 70%;
}

main section:first-of-type div:first-of-type > div:last-of-type > img:first-of-type {
    border-radius: 10%;
}

/* change align-self in desktop view */
main section:first-of-type div:first-of-type > div:last-of-type > img:last-of-type {
    align-self: flex-end;
}

/* remove margin-top in desktop view and make gap smaller in desktop view */
main section:first-of-type div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

main section:first-of-type div:last-of-type img {
    width: 70%;
    border-radius: 10%;
}

main section:first-of-type div:last-of-type img:last-of-type {
    align-self: flex-end;
}

main > div:first-of-type {
    color: white;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main > div:first-of-type > div p {
    font-size: 1.2rem;
    font-weight: 600;
}

main > div:first-of-type > div:first-of-type > div {
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

main > div:first-of-type > div:first-of-type > div > div p{
    font-size: 1.2rem;
    font-weight: 500;
}


/* may probably have to change the font family for this span text */

main > div:first-of-type > div:first-of-type > div > div span {
    color: #FFB800;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

main > div:first-of-type > div:last-of-type {
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-self: flex-end;
}

.portfolioArrow {
    background: #FFB800;
    color: black;
    font-size: 2rem;
    transform: rotate(320deg);
    padding: 0.5rem;
    border-radius: 100%;
    position: relative;
    right: 0.5rem;
    top: 0.9rem;
}

/* carousel/testimonial section */

body > section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 241);
    text-align: center;
}


body > section > p:first-of-type {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

body > section > p:nth-of-type(2){
    padding: 0 1rem;
    font-weight: 500;
    color: #898784;
    font-size: 14px;
}

.embla {
    align-self: center;
    margin-top: 4rem;
    width: 100%;
    height: 350px;
    text-align: left;
    overflow: hidden;
}

.controller {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.controller > button {
    border-radius: 100%;
    background: white;
    /* border: solid 1px; */
    box-shadow: 2px 2px 1px black;
    font-size: 1.4rem;
    padding: 0;
    width: 40px;
    height: 40px;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 70%;
    min-width: 0;
    display: flex;
    justify-content: center;
}

.embla__slide > div {
    border: solid 2px black;
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    box-shadow: 4px 5px 1px black;
}


.embla__slide > div > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.embla__slide > div > div img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: dashed 2px #898784;
}

.embla__slide > div p {
    font-weight: 600;
}

.embla__slide > div small {
    color: #898784;
}


body > section > div:last-of-type {
    align-self: center;
    margin-top: 2rem;
    padding: 1rem;
    width: 90%;
    background: white;
    border: solid 2px black;
    box-shadow: 4px 5px 1px black;
}

body > section > div:last-of-type > p span:first-of-type {
    padding: 0.1rem 0.7rem;
    border-radius: 100%;
    background-color: #FFB800;
    position: relative;
    left: 0.9rem;
    margin-left: -0.7rem;
}

body > section > div:last-of-type > p span:last-of-type {
    z-index: 99;
    position: relative;
}

/* make font size bigger in desktop view */
body > section > div:last-of-type p {
    font-weight: 600;
}

body > section > div:last-of-type div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

body > section > div:last-of-type div button {
    color: white;
    font-weight: 600;
}

body > section > div:last-of-type div button:first-of-type {
    background: #0755E9;
}

body > section > div:last-of-type div button:last-of-type {
    background:#EE4200;
}

/* change flex-direction to row in desktop view */
footer {
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.5rem;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

footer > div img {
    width: 80%;
    height: 70px;
    align-self: center;
}

/* change text aling in  desktop view*/
footer > div:first-of-type p {
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}

/* change flex-direction to row in desktop view make margin=0 in desktop view */
footer > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

footer > div >ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > div >ul >li:first-of-type {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #898784;
}

footer > div ul a::after {
    content: ' ';
    background:#898784;
    display: none;
    width: 35%;
    height: 4px;
    position: relative;
    bottom: 0.4rem;
}


footer > div ul a:hover::after {
    display: inline-block;
}

footer > div > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

footer > div > div p:first-of-type {
    text-transform: uppercase;
    font-weight: 600;
    color: #898784;
}

footer > div > div button {
    background: #0755E9;
    border: solid 2px white;
    box-shadow: 4px 5px 1px white;
    color: white;
    font-weight: 500;
}

footer small {
    color: #898784;
    font-weight: 500;
    margin-top: 2rem;
}

/* desktop view */
@media  screen and (min-width: 800px) {

    button{
        padding: 0.8rem 2rem;
    }

    nav{
        padding: 1rem 3rem;
    }

    .openNav{
        display: none;
    }

    .mobileNavContainer {
        display: none;
    }

    .desktopNav{
        display: flex;
    }

    .desktopNav ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-weight: 500;
        position: relative;
        right: 25rem;
    }
    
    .desktopNav ul a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    
    /* for the nav underline */
    .desktopNav ul a li::after {
        content: ' ';
        background: #0755E9;
        display: none;
        width: 100%;
        height: 4px;
    }
    
    .desktopNav ul a:hover li::after {
        display: inline-block;
        animation: scaleInCenter 0.25s ease-in 0s 1 normal forwards;
    }

    @keyframes scaleInCenter {
        0% {
            transform: scaleX(0);
        }
    
        100% {
            transform: scaleX(1);
        }
    }
    
    .desktopNav ul ion-icon {
        position: relative;
        top: 0.3rem;
    }
    
    .desktopNav button {
        background-color: #0755E9;
        border: solid 2px black ;
        color: white;
    }

    .desktopNav ul > div {
        display: flex;
        flex-direction: column;
    }

    .desktopSubNav {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        top: 3rem;
        font-weight: 500;
        background-color: white;
        border: solid 2px black;
        box-shadow: 4px 5px 1px black;
        animation: bounceInTop 1.5s ease-in 0s 1 normal forwards;
    }

    @keyframes bounceInTop {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateY(-250px);
        }
    
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateY(0);
        }
    
        55% {
            animation-timing-function: ease-in;
            transform: translateY(-65px);
        }
    
        72% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        81% {
            animation-timing-function: ease-in;
            transform: translateY(-28px);
        }
    
        90% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        95% {
            animation-timing-function: ease-in;
            transform: translateY(-8px);
        }
    
        100% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    }
    

    header > img {
        top: 7rem;
    }

    header section:first-of-type {
        margin-top: 3rem;
        align-items: start;
        padding: 3rem;
    }

    header section:first-of-type > p:first-of-type {
        text-align: left;
        font-size: 3rem;
    }

    header section:first-of-type > p:nth-of-type(2) {
        text-align: left;
        width: 300px;
    }

    header section:first-of-type > div:last-of-type {
        flex-direction: row;
        text-align: left;
        gap: 4rem;
        margin-top: 2rem;
    }

    header section:first-of-type > div:last-of-type > p {
        text-align: left;
    }

    header section:last-of-type {
        padding: 0 3rem;
        margin-top: 2rem;
    }

    header section:last-of-type img {
        display: block;
        width: 150px;
        position: relative;
        top: 11.5rem;
        right: 2.9rem;
        transform: scale(-1, 1)  rotate(90deg);
    }

    header section:last-of-type > p:first-of-type {
        font-size: 2rem;
    }

    header section:last-of-type > div {
        flex-direction: row;
    }

    header section:last-of-type > div > div {
        width: 30%;
    }

    main {
        padding: 3rem;
        align-items: center;
    }

    main > p:first-of-type {
        width: 350px; 
    }

    main section:first-of-type {
        flex-direction: row;   
        align-items: center;
        justify-content: center; 
    }

    main section:first-of-type div:first-of-type {
        flex-direction: column;
        gap: 0.5rem;
    }

    main section:first-of-type div:first-of-type > div:first-of-type{
        width: 100%;
    }

    main section:first-of-type div:first-of-type > div:last-of-type {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
        left: 3.5rem;
    }

    main section:first-of-type div:first-of-type > div:last-of-type > img {
        width: 40%;
    }


    main section:first-of-type div:last-of-type {
        margin-top: 0;
    }

    main section:first-of-type div:last-of-type {
        gap: 0.7rem;
        margin-top: 0;
        margin-left: -4rem;
    }

    main section:first-of-type div:last-of-type img {
        width: 80%;
        border-radius: 10%;
    }
    
    main section:first-of-type div:last-of-type img:last-of-type {
        align-self: start;
    }

    main > div:first-of-type {
        flex-direction: row;
        text-align: left;
        align-self: start;
        margin-left: 6rem;
    }

    main > div:first-of-type > div p {
        font-size: 2rem;
    }

    main > div:first-of-type > div:first-of-type > div {
        justify-content: start;
    }

    main > div:first-of-type > div:first-of-type > div > div p {
        font-size: 1.8rem;
    }

    main > div:first-of-type > div:last-of-type {
        position: relative;
        left: 34rem;
        bottom: 6.5rem;
    }

    body > section {
        padding: 3rem;
    }

    body > section > p {
        text-align: left;
    }

    body > section > p:first-of-type {
        font-size: 2rem;
        width: 350px;
    }

    body > section > p:nth-of-type(2) {
        padding: 0;
        width: 270px;
    }

    .embla__slide {
        flex: 0 0 50%;
    }

    .embla__slide > div {
        width: 70%;
    }

    .embla {
        /* margin-top: -1.5rem; */
    }

    .controller {
        justify-content: end;
        margin-right: 8rem;
    }

    body > section > div:last-of-type {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3.5rem;
    }

    body > section > div:last-of-type > p {
        font-size: 2rem;
        width: 450px;
    }

    body > section > div:last-of-type > p span:first-of-type {
        padding: 0.2rem 1.3rem;
        left: 1.8rem;
        margin-left: -1.3rem;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        gap: 6rem;
        padding: 2rem 3rem;
    }

    footer > div img {
        width: 50%;
        height: 60px;
        align-self: start;
    }

    footer > div:first-of-type p {
        font-size: 13px;
        text-align: left;
        width: 300px;
    }

    footer > div:first-of-type {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        width: 300px;
        gap: 1rem;
        margin-top: 0;
    }

    footer > div:nth-of-type(2) {
        flex-direction: row;
        margin-top: 0;
        gap: 5rem;
    }
}