@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');
/* default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.displayNone {
    display: none;
}

button {
    padding: 1rem;
    border: solid 2px black;
    font-weight: 500;
    box-shadow: 4px 5px 1px black;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* header styles */

header {
    background: rgb(255, 248, 241);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.desktopNav {
    display: none;
    gap: 1.7rem;
}

.desktopNav ul {
    list-style: none;
    display: flex;
    gap: 0.6rem;
    font-weight: 600;
}

.desktopNav button {
    background-color: #0755E9;
    padding: 1rem;
    border: solid 2px black ;
    color: white;
}

.navOpen {
    font-size: 1.6rem;
}

header section:first-of-type {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* change image position in desktop view */
header > img  {
    width: 60px;
    position: relative;
    top: 4.5rem;
    z-index: 9;
    margin-top: -5rem;
}


header section:first-of-type > p:first-of-type {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header section:first-of-type > p:nth-child(2) {
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    color: #898784;
    font-size: 14px;
}

header section:first-of-type > div:first-of-type {
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
}


header section:first-of-type > div:first-of-type > button:first-of-type {
    color: white;
    background: #0755E9;
}

header section:first-of-type > div:first-of-type > button:nth-child(2) {
    color: white;
    background: #EE4200;
}

/* in desktop view make flex-direction = row */
header section:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
}

header section:first-of-type > div:last-of-type > p {
    font-weight: 600;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

header section:first-of-type > div:last-of-type > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header section:last-of-type {
    padding: 0 1rem;
    margin: 4rem 0;
}


/* change image scale rotation, position in desktop view */

header section:last-of-type img {
    width: 150px;
    position: relative;
    top: 11.5rem;
    right: 2.9rem;
    transform: scale(-1, 1)  rotate(90deg);
}

header section:last-of-type > p:first-of-type {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

header section:last-of-type > p:last-of-type {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: #898784;
    font-size: 14px;
}

/* in desktop view make flex-direction = row */
header section:last-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

header section:last-of-type > div > div {
    background: white;
    border: solid 2px black;
    box-shadow: 4px 5px 1px black;
    padding: 1rem;
    text-align: left;
    width: 90%;
}

header section:last-of-type > div > div > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header section:last-of-type > div > div > div > p:first-of-type {
    font-weight: 600;
    padding: 1rem 1.4rem;
    border-radius: 50%;
    border: solid 2px black;
    box-shadow: 3px 2px 1px black;
    font-size: 1.2rem;
}

header section:last-of-type > div > div > div > p:last-of-type {
    font-weight: 600;
    font-size: 1.3rem;
}

header section:last-of-type > div > div:first-of-type > div > p:first-of-type {
    background: #FFB800;
}

header section:last-of-type > div > div:nth-child(2) > div > p:first-of-type {
    background: #FF5C00;
}

header section:last-of-type > div > div:last-of-type > div > p:first-of-type {
    background: #009429;
}

header section:last-of-type > div > div > p {
    margin-top: 1.5rem;
    font-weight: 500;
    color: #898784;
}

header section:last-of-type > div > div > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

/* main section styles */

main {
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
}

/* change image rotation, position in desktop view */
main > img:first-of-type {
    width: 150px;
    transform: rotate(270deg);
    position: relative;
    top: 11rem;
    left: 75%;
    margin-top: -5rem;
}

main > p:first-of-type {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

main > p:last-of-type {
    font-weight: 600;
    font-size: 13px;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

/* in desktop view make flex-direction = row */
main section div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section div:first-of-type > img {
    width: 85%;
    align-self: center;
}

/* in desktop view make flex-direction = row */
main section div:first-of-type > div{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

main section div:first-of-type > div > img {
    width: 70%;
}

main section div:first-of-type > div > img:first-of-type {
    border-radius: 10%;
}

/* change align-self in desktop view */
main section div:first-of-type > div > img:last-of-type {
    align-self: flex-end;
}

/* remove margin-top in desktop view and make gap smaller in desktop view */
main section div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

main section div:last-of-type img {
    width: 70%;
    border-radius: 10%;
}

main section div:last-of-type img:last-of-type {
    align-self: flex-end;
}

/* make these styles display none in desktop view */

main section > img:first-of-type {
    transform: rotate(270deg);
    position: relative;
    top: 16.8rem;
    left: 18rem; 
    width: 150px;
}

main section > img:nth-of-type(2) {
    transform: scale(-1, 1) rotate(270deg);
    position: relative;
    top: 30.6rem;
    width: 130px;
    margin-top: -13rem;
}

main section > img:nth-of-type(3) {
    width: 110px;
    position: relative;
    transform: rotate(90deg);
    bottom: 18.5rem;
    left: 2.7rem;
}

main section > img:last-of-type {
    width: 75px;
    position: relative;
    transform: scale(-1, 1)  rotate(90deg);
    bottom: 25rem;
    left: 23.8rem;
    margin-bottom: -8.5rem;
}

/* end here */

main > div {
    color: white;
    margin-top: 2rem;
    text-align: center;
}

main > div > p {
    font-size: 1.2rem;
    font-weight: 600;
}

main > div > div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

main > div > div > div p{
    font-size: 1.2rem;
    font-weight: 500;
}


/* may probably have to change the font family for this span text */

main > div > div > div span {
    color: #FFB800;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

